
@{
    ViewBag.Title = "TnC";
}



<div class="container h-100 divs" style="margin-top:0px;margin-left:14%"  >
    <div class="row align-items-center h-100">
        <div class="col-12 mx-auto" style="width:100%; margin-top:5%">
            <div class="jumbotron text-center">
                <h4 class="text-danger">Terms and Conditions</h4>
                <p class="lead">
                    1. Users will be solely responsible for the deals he/she have done in website.<br/>
                    2. Admin is not responsible for any of the deals.<br/>
                    3. All the deals will be done through the admin.<br/>
                    4. If you want to buy any item from this website, just request that by clicking the Request Item button. You will receive a call regarding the product. Once deal get confirmed, you can go to the admin, pay and buy that product.<br/>
                    5.Your ad will be posted only once it get approved by admin.<br/>
                    6.Some features of the website may be under maintenance. So please be patient.We will fix it as soon as possible.<br/>
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Dashboard")" role="button">Go to Dashboard</a>
                </p>
            </div>
        </div>
    </div>
</div>

