
@{
    ViewBag.Title = "Feedback / Complaints ";
}

<h2>Feedback / Complaints</h2>


<div class="row pr-0 mr-0" style="margin-left:14%; margin-top:58px">
    <div class="col-md-12 ml-0" style="height:1000px; width:98%;">
        <div class=" row mb-3 justify-content-around">

            <div class="container h-100" style="margin-top:100px">
                <div class="row align-items-center h-100">
                    <div class="col-12 mx-auto" style="width:100%">
                        <div class="jumbotron text-center" style="width:100%">
                            <h4 class="text-danger">Contact us !</h4>
                            <p class="lead">
                                For any complaints/suggestions/feedbacks or query, you can send me mail at javedansarirnc@gmail.com
                            </p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Dashboard")" role="button">Go to Dashboard</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
























