
@{
    ViewBag.Title = "ItemNotAvailable";
}


@{
    ViewBag.Title = "ItemNotAvailable";
}

<div class="container h-100" style="margin-top:100px">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron text-center">
                <h4 class="text-danger">Item not available !</h4>
                <p class="lead"> Sorry ! This item is not available currently ! Please check after some time. Thanks for your patience.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Dashboard")" role="button">Go to Dashboard</a>
                </p>
            </div>
        </div>
    </div>
</div>




