
@{
    ViewBag.Title = "Post Requested !";
}


<div class="row pr-0 mr-0 " style=" margin-top:0px; margin-left:12%">
    <div class="col-md-12 ml-0" style="height:auto; width:auto">
        <div class=" row mb-3 justify-content-around">


                    <div class="container h-100" style="margin-top:100px;">
                        <div class="row align-items-center h-100">
                            <div class="col-12 mx-auto">
                                <div class="jumbotron text-center">
                                    <h4 class="text-info">Post Requested!</h4>
                                    <p class="lead">
                                        Your post will be available soon once it get verified by admin.
                                    </p>
                                    <p class="lead">
                                        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Dashboard")" role="button">Go to Dashboard</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
        </div>
    </div>
</div>








