
@{
    ViewBag.Title = "Reuested To Post";
}

<h2>ReqestedToPost</h2>

<div class="container h-100" style="margin-top:60px">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron text-center">
                <h4 class="text-success">Successful!</h4>
                <p class="lead"> Your item will be visible once it get verified by admin !
                Thank You for using RECMart ! </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Dashboard")" role="button">Go to Dashboard</a>
                </p>
            </div>
        </div>
    </div>
</div>

